/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "font-awesome-sprockets";
@import "font-awesome";

/*--------------Resets-------------*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------Clearfix----------------*/

.group::after {
	content: "";
	display: block;
	clear: both;
}

/*--------------------Body--------------------*/

body {
	font-family: sans-serif;
}

/*-------------------General------------------*/

.hide {
	display: none;
}



/*--------------------Header------------------*/


.green {
	color: #27D417;
}

header {
	background-color: #fff;
	min-width: 1000px;
	border-bottom: 1px solid #D9D9DE;
}

.site-logo {
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 2px;
}

.site-logo > a {
	display: block;
	padding: 20px;
}

.global-nav {
	float: left;
	font-size: 14px;
  font-weight: bold;
	color: #828587;
	border-right: 1px solid #D9D9DE;
}

.global-nav > li {
	float: left;
}

.global-nav > li > a {
	padding: 26px 15px;
	display: inline-block;
}

.global-nav > li > a:hover {
	background-color: #F7FAFA;
}


.login-nav {
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: #00A0FF
}

.login-nav > li {
	float: left;
}

.login-nav > li > a{
	display: inline-block;
	padding: 25px 20px;
}

.login-nav > li > a:hover {
	color: #828587;
	background-color: #F7FAFA;
}

.login-nav-me {
	float: right;
	font-size: 16px;
	font-weight: bold;
	color: #828587;
	position: relative;
}

.login-nav-me > li {
	float: left;
	border-left: 1px solid #D9D9DE;
}

.login-nav-me > li > div{
	display: inline-block;
	padding: 25px 20px;
	padding-right: 30px;
}

.login-nav-me > li > div:hover {
	background-color: #F7FAFA;
	cursor: pointer;
}

.my-arrow {
	position: absolute;
	top: 22px;
	left: 52px;
}

#you-popout {
	position: absolute;
	top:66px;
	left: -271px;
	font-size: 12px;
	color: #00A0FF;
	border: 1px solid #D9D9DE;
	border-right: none;
	background-color: white;
	height: 200px;
	width: 300px;
	box-shadow: -1px 2px 7px #aaa;
}

.you-popout-col {
	width: 150px;
}

#you-popout:hover {
	background-color: #fff;
	cursor: default;
}

.you-popout-col > ul {
	float: left;
	padding: 5px;
}

.you-popout-col > a {
	float: left;
	padding: 5px;
}

.you-popout-col > a:hover {
	color: #000;
}

.you-popout-col > h3 {
	color: black;
	float: left;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 10px;
}

.you-popout-col > ul {
	min-height: 145px;
}

.you-popout-col > ul > li:hover {
	cursor: pointer;
	color: #000;
}

/*--------------------Footer-----------------*/

	/*footer anchor*/
/*body, html {
	min-height: 100%;
}

#kitchen-starter-app, #root {
	min-height: 100%;
	height: 100%;
}

#main-content  {
	min-height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 400px;
}*/

.filler {
	height: 600px;
}
	/*end anchor*/

footer {
	background-color: #0F2105;
	border-top: dashed 1px #2BDE73;
	color: #828587;
	font-size: 14px;
	padding-bottom: 160px;
}

.footer-content {
	width: 800px;
	margin: auto;
	padding-bottom: 40px;
	border-bottom: 1px solid #fff;
}

.footer-about-us, .footer-discover, .footer-contact {
	float: left;
	color: #fff;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 5px;
}

.footer-about-us {
	padding-left: 60px;
}

.footer-discover, .footer-contact {
	padding-left: 200px;
}
.footer-discover-list {
	display: block;
	padding: 5px;
}

.footer-about-us-list > li {
	display: block;
	float: left;
	padding-left: 60px;
	margin-top: 10px;
}

.footer-about-us-list > li > a {
	display: block;
}

.footer-discover-list {
	display: block;
	float: left;
	padding-left: 114px;
}

.footer-discover-list > li {
	margin-top: 5px;
}

.footer-about-us-list > li > a {
}

.footer-my-info {
	display: block;
	float: left;
	padding-left: 202px;
	margin-top: 8px;
}

.footer-my-info > li {
	margin-top: 5px;
}

.footer-my-info > li:first-child {
	margin-top: 0px;
}



/**/
