.no-search-results {
	height: 175px;
	background-color: #f7fafa;
	color: #828587;
	text-align: center;
	border-bottom: 1px solid #aaa;
}

.no-search-results > p {
	padding-top: 75px;
}


.search-dropdown {
	background-color: #f7fafa;
	border-bottom: 1px solid #aaa;
	text-align: center;
}

.search-results {
	max-width: 800px;
	display: inline-block;
	background-color: #f7fafa;
	padding-top: 30px;
	padding-bottom: 40px;
}

.search-exit-button {
	float: right;
	margin-right: 10px;
	font-size: 22px;
	color: #aaa;
}

.search-exit-button:hover {
	cursor: pointer;
	color: #000;
}

#left-angle-bracket {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 120px;
  color: #828587;
}

#right-angle-bracket {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  color: #828587;
  top: 300px;
  right: 150px;
}

#left-angle-bracket:hover, #right-angle-bracket:hover {
  cursor: pointer;
  color: #000;
}
