.login-page {
	min-height: 400px;
	background-color: #f7fafa;
	padding-top: 60px;
	padding-bottom: 60px;
  min-width: 1000px;
}


.login-form-wrapper {
	width: 360px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #D9D9DE;
	border-radius: 5px;
	margin: auto;
}


.login-form-wrapper > h1 {
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: 350;
}

.login-form-wrapper > form > input {
	outline: none;
	border: 1px solid #D9D9DE;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	border-radius: 6px;
	padding: 10px;
	width: 338px;
	margin: auto;
	margin-bottom: 20px;
}

#log-in-button {
	font-size: 16px;
	font-weight: normal;
	height: 30px;
	margin-top: 20px;
	width: 360px;
	padding: none;
	margin: none;
	line-height: 0px;
}

#log-in-button-guest {
	margin-top: -15px;
	font-weight: 400;
	text-align: center;
	padding: 10px;
  padding-right: 8px;
}

.errors {
  color: #FEFEFE;
  border: 1px solid #fd003b;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  background-color: #E7254E;
  font-weight: 500;
}

.already-signed-up {
  font-size: 14px;
  margin: auto;
  padding: 20px;
  position: relative;
  margin-top: 10px;
  top: 20px;
  display: block;
  text-align: center;
  border-top: 1px solid #D9D9DE;
  color: #828587;
}

.blue-link {
  color: #00a0ff;
  font-weight: bold;
}

.blue-link:hover {
  color: #000;
  cursor: pointer;
}

.facebook-login {
  color: #fff;
  background-color: #3b5998;
  text-align: center;
  padding: 10px;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
}

.facebook-login:hover {
  background-color: #30487b;
}

.grey-line {
  border-top: 1px solid #D9D9DE;
  margin-top: 30px;
}

.login-or {
  position: relative;
  top: -18px;
  left: 163px;
  font-size: 14px;
  padding: 10px;
  background-color: #fff;
  color: #828587;
  display: inline-block;
}
