.restaurant-show-page {
	background-color: #f7fafa;
	min-height: 600px;
  padding-bottom: 40px;
}

.restaurant-show-page-content {
	width: 900px;
	margin: auto;
}

.restaurant-show-page-content > h1 {
	font-size: 28px;
	display: block;
	margin: auto;
	padding-top: 35px;
	text-align: center;
}

.restaurant-show-page-content > h4 {
	font-size: 14px;
	display: block;
	margin: auto;
	padding-top: 20px;
	text-align: center;
}

.user-name {
	font-weight: bold;
}

.restaurant-show-main-content {
	min-height: 300px;
	margin-top: 40px;
	border-bottom: 1px solid #D9D9DE;
	padding-bottom: 25px;
}

.restaurant-show-main-image {
	width: 570px;
	float: left;
	display: block;
	margin-left: 40px;
}

.show-image-side-bar {
	float: right;
	display: block;
	margin-right: 30px;
	margin-top: 10px;
}

.show-image-side-bar > ul > li > h5 {
	font-weight: bold;
	font-size: 48px;
	padding-bottom: 5px;
	color: #0F2105;
}

.show-image-side-bar > ul > li > p {
	font-size: 14px;
	font-weight: 500;
	color: #828587;
	padding-bottom: 20px;
}

.show-back-this-button {
	background-color: #2BDE73;
	color: #fff;
	font-weight: bold;
	font-size:16px;
	padding: 18px 30px;
	margin-top: 20px;
	border-radius: 5px;
}

.show-back-this-button:hover {
	cursor: pointer;
	background-color: #1db95c;
}

.city-cuisine-show > p {
  margin-top: 20px;
  margin-right: 20px;
  float: left;
  color: #828587;
  padding: 1px;
  font-size: 14px;
}

.blurb-show {
  margin-top: 20px;
  font-size: 22px;
}

.restaurant-description {
  width: 570px;
  float: left;
  display: block;
  line-height: 24px;
}

.restaurant-description-content {
  min-height: 300px;
  margin-top: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
}



.restaurant-rewards-show {
  float: right;
  width: 300px;
}

.restaurant-description > h2, .restaurant-rewards-show > h2 {
  margin-bottom: 40px;
  line-height: 24px;
  font-size: 22px;
  display: block;
}
