.rewards-index {
  float: left;
  padding: 20px;
  background-color: #F1F5F7;
  border-radius: 3px;
}

.rewards-list > li {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.rewards-list > li > h2 {
  font-weight: bold;
  margin: 10px 10px 10px 0;
}

.rewards-list > li > h3 {
  margin: 20px 10px 20px 0;
}
