.rewards-index {
  float: left;
  background-color: #f7fafa;
  border-radius: 3px;
  width: 96%;
  box-sizing: border-box;
}

.rewards-list > li {
  background-color: #fff;
  padding: 5px;
  padding-bottom: 10px;
  margin: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.rewards-list > li:first-of-type {
  margin-top: 0px;
  padding-top: 0px;
}

.rewards-list > li > p {
  padding-bottom: 1px;
}

.rewards-list > li > h2 {
  font-weight: bold;
  margin: 10px 10px 10px 0;
}

.rewards-list > li > h3 {
  margin: 20px 10px 20px 0;
}
